:root {
    --background-color: #f4f4f4;
    --main-color: #aa0000;
    --accent-color: #600000;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 40px auto;
    background-color: #ff6666;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #333;
    margin: 0;
}

h2 {
    color: #666;
    margin: 0;
}

label {
    display: block;
    font-weight: bold;
}

select,
input[type="range"] {
    color: white;
    width: 100%;
    height: 30px;
    border: 2px solid #000000;
    background-color: var(--accent-color)
}

input[type=range] {
    border-radius: 100vh;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: round;
    border-radius: 100px;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: var(--main-color);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
    border-radius: 100px;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: var(--main-color);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

button {
    background-color: #13615C;
    border-radius: 12px;
    border: 4px solid #fcab4900;
    display: inline-block;
    cursor: pointer;
    color: #1D998F;
    font-family: Verdana;
    font-size: 28px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    transition: 0.2s;
    margin-top:10px;
}

button:hover {
    background: linear-gradient(to bottom, #217872, #44b0ac, #217872);
    background-color: #217872;
    border-radius: 12px;
    border: 4px solid #fcac49;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 28px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
}

button:active {
    background: #13615C;
    background-color: #13615C;
    border-radius: 12px;
    border: 4px solid #fcab4900;
    display: inline-block;
    cursor: pointer;
    color: #1D998F;
    font-family: Verdana;
    font-size: 28px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    transition: 0.2s;
}


#volumeSlidersContainer {
    margin-bottom: 20px;
}

.sliderContainer {
    margin-bottom: 15px;
}

.sliderContainer label {
    display: inline-block;
    width: 200px;
}

/* Responsive styles */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    select,
    input[type="range"],
    button {
        padding: 8px;
    }
}