:root {
    --background-color: #f4f4f4;
    --main-color: #aa0000;
    --accent-color: #600000;
}

* {
    cursor: url('images/cursor.cur'), auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: 5vh auto 5vh;
    background-color: #fff6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    display:flex;
}
h1 {
    color: #333;
    margin: 0;
}

h2 {
    color: #666;
    margin: 0;
}

label {
    display: block;
    font-weight: bold;
}

#gameAndMood {
    display: flex;
}

#gameAndMood select {
    width: 100%;
}

select {
    margin: 15px;
    background: linear-gradient(#44b0ac, #217872, #44b0ac);
    color: white;
    min-width:fit-content;
    width: 100%;
    height: 30px;
    border: 2px solid #000000;
    background-color: #217872;
    border-radius: 5px;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    transition: 0.1s;
}

select:hover {
    scale: 105%;
}

select:disabled {
    opacity: 75%;
    scale: 100%;
}

#colorSelector {
    width: 50px;
    height: 50px;
    font-size: 28px;
}

#colorSelector:hover {
    scale: 120%;
}

.sliderContainer {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100vmax;
    transition: 0.1s;
    display: flex;
    align-items: center;
    margin: 15px 0px 15px 0px;
    padding: 15px;
    min-width:fit-content;
}

.sliderContainer:hover {
    background-color: rgba(255, 255, 255, 1);
}

/*#region Sliders*/
.slider {
    background: #13615C;
    color: white;
    width: 100%;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 15px;
    -webkit-appearance: none;
    appearance: none;
}

.slider::-moz-range-track {
    background: #13615C;
}

.slider::-moz-range-thumb {
    position: relative;
    width: 30px;
    height: 200%;
    margin: 20px 0;
    border-width: 4px;
    border-color: orange;
    background: #13615C;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
    transition: scale 0.1s;
}

.slider::-moz-range-progress {
    background: linear-gradient(#44b0ac, #217872, #44b0ac);
    height: 100%;
    border-radius: 15px;
}

.slider::-moz-range-thumb:hover,
.slider::-moz-range-thumb:active {
    position: relative;
    width: 30px;
    margin: 20px 0;
    border-width: 4px;
    border-color: orange;
    background: linear-gradient(#44b0ac, #217872, #44b0ac);
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
    scale: 110%;
}

.slider::-moz-range-thumb:active {
    scale: 100%;
}

/* For Chrome */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 60px;
    margin-top: -15px;
    background: #13615C;
    border: 4px solid orange;
    border-radius: 50% / 10%;
}

.slider::-webkit-slider-runnable-track {
    background: #13615C;
    height: 100%;
    border-radius: 15px;
}

.slider::-webkit-slider-thumb:hover {
    width: 30px;
    background: linear-gradient(#44b0ac, #217872, #44b0ac);
}

/*#endregion*/
button {
    background-color: #13615C;
    border-radius: 12px;
    border: 4px solid #fcab4900;
    display: inline-block;
    color: #1D998F;
    font-family: Verdana;
    font-size: 28px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 10px;
}

button:hover {
    background: linear-gradient(#44b0ac, #217872, #44b0ac);
    background-color: #217872;
    border-radius: 12px;
    border: 4px solid #fcac49;
    display: inline-block;
    color: #ffffff;
    font-family: Verdana;
    font-size: 28px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
}

button:active {
    background: #13615C;
    background-color: #13615C;
    border-radius: 12px;
    border: 4px solid #fcab4900;
    display: inline-block;
    color: #1D998F;
    font-family: Verdana;
    font-size: 28px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    transition: 0.2s;
}

.sliderContainer label {
    display: inline-block;
    width: 200px;
}

#bgVideo {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -1;
}

@media (max-aspect-ratio: 1/1) {
    main {
        margin: 0px;
        max-width: 100vh;
        border-radius: 0px;
    }
}